@import 'index.scss';

.webgl {
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    width: 100vw;
    overflow-x: hidden;
    background: transparent;
    // background-image: url(../../assets/svg-backgrounds/layered-waves-haikei-desktop.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;

}